<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">
        🏥 HealthRisk AI
    </div>

    <a href="/" class="add-btn">
        ← Dashboard
    </a>
</div>

<div class="form-container">

    <h1>Add Patient</h1>

    <form method="POST">

        <input
            type="text"
            name="full_name"
            placeholder="Full Name"
            required>

        <input
            type="date"
            name="dob"
            required>

        <input
            type="email"
            name="email"
            placeholder="Email Address"
            required>

        <input
            type="number"
            step="0.01"
            name="glucose"
            placeholder="Glucose"
            required>

        <input
            type="number"
            step="0.01"
            name="haemoglobin"
            placeholder="Haemoglobin"
            required>

        <input
            type="number"
            step="0.01"
            name="cholesterol"
            placeholder="Cholesterol"
            required>

        <button type="submit">
            🔮 Predict & Save
        </button>

    </form>

</div>

</body>
</html>